@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{font-family: 'Roboto', sans-serif;}
header {
    display: flex;
      /*flex-direction-row default kod */
    justify-content: space-between; /*main axis esas ox soldan saga*/
    align-items: center; /* cros axis */
    padding-top: 41px;
    padding-left: 112.5px;
    padding-right: 112.5px;
}

header .nav-links a{color: #000;
text-decoration: none;}


.fa-bars-staggered{ display: none;}


@media(max-width:768px) {
.fa-bars-staggered{display: flex;
cursor: pointer;}


.nav-links{display: none;}

header{padding-left: 20px;
padding-right: 20px;}
}

/*INTROSECTION START*/
.introsection{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  padding-left: 7.03rem;
  padding-right: 0;
}
.intro-left-side{
  padding-top: 117px;
  min-width: 680px;
  flex-basis: 50%;
}
.intro-left-side h1{
  font-size: 70px;
  font-weight: 700 ;
  margin-bottom: 40px;
}
.intro-left-side p{
  margin-bottom: 25px;
  line-height: 33px;
  color: #666;
  font-style: normal;
  
}
.intro-left-side a img{
  padding-left: 20px;
}
.intro-left-side h1 span{
  color: #FF8A56;
  ;
}
.intro-left-side button{
  width: 111px;
  height: 43px;
  background-color: #000;
  color: #fff;
  line-height: 18px;
  font-size: 13px;
}
.intro-left-side a {
  text-decoration: none;
  color: #000;
  padding-left: 29px;
  font-size: 18px;
  line-height: 18px;
}
.intro-right-side{
  min-width: 500px;
  padding-top: 70px;
  flex-basis: 1;
}
.intro-right-side img{
  width: 100%;
  height: 100%;
}


@media(max-width:1311px) and (min-width:768px) {
  .intro-left-side{
  flex-basis: 100%;
 text-align: center;
}
.introsection{
  padding-left: 0;
  padding-right: 0;
}
}
@media(max-width:768px) {
  .intro-left-side{
    min-width: 500px;
    text-align: center;
    padding-top: 40px;
    flex-basis: 100%;
  }
  .introsection{
 padding-left: 0; 
padding-right: 0; }
}

/*INTROSECTION  END*/